version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "80:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
