@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-success {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.custom-error {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.custom-error svg {
  fill: #e94040 !important;
}

.custom-loading {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.custom-info {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
}

@keyframes chat-loading {
  from {
    opacity: 1;
    transform: translateY(-1px) scale(1.2);
  }
  to {
    opacity: .5;
    transform: translateY(2px);
    background-color: red !important;
  }
}

.animate-chat-loading {
  animation: chat-loading 1000ms infinite alternate;
}

.delay-1 {
  animation-delay: 200ms
}

.delay-2 {
  animation-delay: 400ms
}