@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-success {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
}

.custom-error {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
}

.custom-error svg {
  fill: #e94040 !important;
}

.custom-loading {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
}

.custom-info {
  background: #39311D !important;
  color: white !important;
  box-shadow: 0px 5px 10px #39311D !important;
}

.delay-1 {
  animation-delay: 150ms
}

.delay-2 {
  animation-delay: 300ms
}